{% extends 'index.html' %}

{% block content %} 

<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">
               {% if name %}
                  Professor {{name}} 
               {% else %} 
                  Courses 
               {% endif %}
            </h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'app:index' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Courses</li>
             </ul>
          </div>
          <div class="col-auto text-right float-right ml-auto">
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
          </div>
       </div>
    </div>
    
    {% include 'includes/_courses.html' %}

 </div>


{% endblock %}