{% extends 'index.html' %}

{% block content %} 
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                    <h5 class="form-title"><span>New Course</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Course Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter a title" required>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Course Number</label>
                        <input type="text" class="form-control" name="coursenum" placeholder="Enter course number" required>
                    </div>
                </div>
        
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Subject</label>
                        <select class="form-control" name="subject">
                            {% for s in subjects %}
                                <option value="{{s.id}}">{{s.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Categories</label>
                        <select class="form-control" name="categories" multiple>
                            <option value="none">----</option>
                            {% for c in categories %}
                                <option value="{{c.id}}">{{c}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <br>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Session</label>
                        <select class="form-control" name="session">
                            {% for s in sessions %}
                                <option value="{{s.id}}">{{s}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <br>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Price ($)</label>
                        <input type="number" step="step="0.1" name="price" placeholder="$0">
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Discount (%) - Put 0 if no discount </label>
                        <input type="number" name="discount" placeholder="0%">
                    </div>
                </div>
                

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Course Picture</label>
                        <input type="file" class="form-control" name="pic">
                    </div>
                </div>

                <br>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 <br><br>
{% endblock %}