{% extends 'index.html' %}

{% block content %} 
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                    <h5 class="form-title"><span>Course</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Subject</label>
                        <select class="form-control" name="subject">
                            <option value="{{course.subject.id}}">{{course.subject}}</option>
                            {% for s in subjects %}
                                {% if course.subject != s %}
                                    <option value="{{s.id}}">{{s}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Course number</label>
                        <input type="text" class="form-control" name="coursenum" value="{{course.coursenum}}">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" value="{{course.title}}">
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Course Picture</label>
                        <input type="file" class="form-control" name="pic">
                    </div>
                </div>
                
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Session</label>
                        <select class="form-control" name="session">
                            <option value="{{course.session.id}}">{{course.session}}</option>
                            {% for s in sessions %}
                                {% if course.session != s %}
                                    <option value="{{s.id}}">{{s}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Staff(s) - Choose multiple options by 'alt' key</label>
                        <select multiple class="form-control" name="staffs">
                            {% for s in staffs %}
                                <option value="{{s.id}}" {% if s in course.staffs.all %} selected {% endif %}
                                >{{s}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}