{% extends 'index.html' %}

{% block content %} 

<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">{% if title %} {{title}} {% else %} Staffs {% endif %}</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'teacher:teaHome' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Staffs</li>
             </ul>
          </div>
          <div class="col-auto text-right float-right ml-auto">
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             {% if not title %}
               <a href="{% url 'teacher:add_staff' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
             {% endif %}
          </div>
       </div>
    </div>
    
    {% include 'includes/_staffs.html' %}

 </div>


{% endblock %}