{% extends 'index.html' %}

{% block content %} 

<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Sessions</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'teacher:teaHome' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Choose session to edit</li>
             </ul>
          </div>
          <div class="col-auto text-right float-right ml-auto">
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             <a href="{% url 'teacher:add_session' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div>
       </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
           <div class="card card-table">
              <div class="card-body">
                 <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                       <thead>
                          <tr>
                             <th>Session Start</th>
                             <th>Session End</th>
                             <th class="text-right">Action</th>
                          </tr>
                       </thead>
                       <tbody>
                         {% for s in sessions %}
                          <tr>
                             <td>{{s.start_date}}</td> 
                             <td>{{s.end_date}}</td>                         
                             <td class="text-right">
                                <div class="actions">
                                   <a href="{% url 'teacher:update_session' pk=s.pk %}" class="btn btn-sm bg-success-light mr-2">
                                   <i class="fas fa-pen"></i>
                                   </a>
                                </div>
                             </td>
                          </tr>
                          {% endfor %}
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>

 </div>


{% endblock %}