{% extends 'index.html' %}

{% block content %} 
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                    <h5 class="form-title"><span>{{feature}}</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Title</label>
                        {{form.title}}
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Description</label>
                        {{form.description}}
                    </div>
                </div>

                {% if feature == 'Edit Assignment' %}
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label><i class="fas fa-trash mr-1"></i>Uploaded Files - Choose multiple options by 'alt' key</label>
                        <select multiple class="form-control" name="trash">
                            {% for f in form.instance.files.all %}
                                <option value="{{f.id}}">{{f.get_file_name}}</option>
                            {% endfor %}
                            <option value="all">Choose All</option>
                            <option value="none" selected>None</option>
                        </select>
                    </div>
                </div>
                {% endif %}
                <br>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <div class="btn">
                            <span> {% if feature == 'New Assignment' %} Files {% else %} Add another files {% endif %}</span>
                            {{ form.files }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files" readonly>
                        </div>
                    </div>
                </div>
                <br>


                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Maximum Point</label>
                        {{form.point}}
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Number of Attempts (Skip if not limit)</label>
                        {% if feature != 'Edit Assignment' or not form.instance.num_attempts %}
                        <input type="text" name="num_attempts" placeholder="Not limit">
                        {% else %}
                        <input type="text" name="num_attempts" value="{{form.instance.num_attempts}}">
                        {% endif %}
                    </div>
                </div>


                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Due date</label>
                        {% if feature == 'Edit Assignment' %}
                        <input type="text" value="Current: {{form.instance.due_date.date}}" readonly>
                        <label>New due date?</label>
                        {% endif %}

                        {{form.dueDate}}
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Due by time</label>
                        <input type="time" name="due_time" required value="{{due_time}}">
                    </div>
                </div>

                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary mr-3">Submit</button>

                    {% if feature == 'Edit Assignment' %}
                    <a href="{% url 'course:assignment' pk=form.instance.id %}" class="btn btn-primary">Back</a>
                    {% endif %}
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}