{% extends 'index.html' %}

{% block content %} 
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post">
                {% csrf_token %}
                <div class="col-12">
                    <h5 class="form-title"><span>{{feature}}</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Question Number</label>
                        {{form.num}}
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Category</label>
                        {{form.cater}}
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Content</label>
                        {{form.content}}
                    </div>
                </div>

                
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Score</label>
                        {{form.score}}
                    </div>
                </div>
                
                {% if form.instance.cater != 'Typing Answer' %}
                <br>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Shuffle Answers per Attempt</label>
                        <select class="form-control" name="shuffle_ans">
                            {% if form.instance.shuffle_ans == True %}
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                            {% else %}
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                {% endif %}

                
                <label>Do you want to apply new updated question category and score for all the version?
                    <input name="apply_ver" type="radio" value="yes"/>
                    <span>Yes</span>
                </label>
                
                <label>
                    <input name="apply_ver" type="radio" value="no"/>
                    <span>No</span>
                </label>

                <br><br>
                <a href="{% url 'course:question_view' pk=fst_version.pk %}" class="btn waves-effect waves-light">
                    Back
                </a>
                <button type="submit" class="btn btn-primary ml-3">Update</button>
             </form>
          </div>
       </div>
    </div>
 </div>



{% endblock %}