{% extends 'index.html' %}

{% block content %} 
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post">
                {% csrf_token %}
                <div class="col-12">
                    <h5 class="form-title"><span>Syllabus</span></h5>
                </div>
                
                <div class="col-12 col-sm-6">
                    <div class="form-group">                       
                        {{form.syllabus}}
                    </div>
                </div>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}