

{% extends 'index.html' %}

{% block content %}
<div class="section">
   <h4>{{ course.title }}</h4>
   <div class="divider"></div>
</div>
<div class="row">
   <div class="col s9">
      {% if owner == True %}
      <div class="col-auto text-right float-right ml-auto">
         <a href="{% url 'course:add_module' pk=course.pk %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
      </div>
      {% endif %}
      
      <div class="section">
         <h4>Modules</h4>
         <div class="divider"></div>
         <ul class="collapsible">
            {% for module in course.modules.all %}
            {% if module.published == True or owner == True %}
            <li>
               <div class="collapsible-header">
                  <b>{{ module.title }}</b> 

                  {% if owner == True %}
                  {% if module.published == False %}
                  <span class="ml-3 text-muted"> Private </span>
                  {% endif %}
                  <div class="col-auto text-right float-right ml-auto">
                     <a href="{% url 'course:edit_module' pk=module.pk %}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                     <a href="{% url 'course:delete_module' pk=module.pk %}" class="btn btn-primary"><i class="fas fa-trash"></i></a>
                  </div>
                  {% endif %}
               </div>


               <div class="collapsible-body">
                  {% if owner == True %}
                  <a href="{% url 'course:add_page' pk=module.pk %}" class="btn-small">New page</a>
                  <a href="{% url 'course:create_quiz' pk=module.pk %}" class="btn-small">New quiz</a>
                  <a href="{% url 'course:create_assignment' pk=module.pk %}" class="btn-small">New assignment</a>
                  {% endif %}


                  <div class="collection">
                     <br>
                     {% for page in module.pages.all %}
                        {% if page.published == True or owner == True %}
                           <a href="{% url 'course:page' pk=page.pk %}" class="collection-item">
                              <i class="fa fa-book-reader mr-2"></i> {{ page.title }}
                              {% if owner == True and page.published == False %}
                                 <span class="ml-3 text-muted"> Private </span>
                              {% endif %}
                           </a>
                        {% endif %}

                     {% endfor %}

                     {% for quiz in module.quizzes.all %}
                        {% if quiz.published == True or owner == True %}
                           <a href="{% url 'course:quiz_detail' pk=quiz.pk %}" class="collection-item">
                              <i class="fa fa-rocket mr-2"></i> {{ quiz.title }}
                              {% if owner == True and quiz.published == False %}
                                 <span class="ml-3 text-muted"> Private </span>
                              {% endif %}
                              
                              <p class="text-muted">
                                 {{quiz.cater}}
                                 |{% if quiz.closed == True %} Closed {% else %} Opened {% endif %}
                                 | Due {{quiz.due_date.date}} at {{quiz.due_date.time}}
                                 | {{quiz.score}} pts
                              </p>
                           </a>
                        {% endif %}

                     {% endfor %}
                     
                     {% for assignment in module.assignments.all %}
                        <a href="{% url 'course:assignment' pk=assignment.pk %}" class="collection-item">
                           <i class="fa fa-tasks mr-2"></i> {{ assignment.title }}
                           
                           <p class="text-muted">
                              Due {{assignment.due_date.date}} at {{assignment.due_date.time}}
                              | {{assignment.point}} pts
                           </p>
                        </a>
                     {% endfor %}
                  </div>
               </div>
            </li>
            {% endif %}
            {% endfor %}
         </ul>
      </div>
   </div>
</div>
{% endblock %}