{% extends 'index.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

<div class="section">
   {% if owner == True %}
    <div class="col-auto text-right float-right ml-auto">
        <a href="{% url 'course:edit_quiz' pk=quiz.pk %}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
        <a href="{% url 'course:delete_quiz' pk=quiz.pk %}" class="btn btn-primary"><i class="fas fa-trash"></i></a>
    </div>
    {% endif %}

    <h5>{{ quiz.cater }}</h5>
    <h4>{{ quiz.title }}</h4>
   <div class="divider"></div>

    {% if owner == True or quiz.closed == False %}
    <div class="col s12 mt-3 mb-3">
        {{ quiz.description | safe }}
        <div class="divider"></div>
    </div>
    {% else %}
    <div class="col s12 mt-3 mb-3">
        Availability: Closed
        <div class="divider mt-3"></div>
    </div>
    {% endif %}

    <div class="col s12 h6 text-muted mt-3">
        {% if quiz.time_limit %}
        Time limit: {{quiz.time_limit}} per attempt
        {% else %}
        No Time Limit
        {% endif %}

        <span class="ml-5"> <strong>Due </strong>{{quiz.due_date.date}} at {{quiz.due_date.time}} </span>
    </div>
    <div class="col s12 h5 mt-2">
        {% if quiz.num_attempts == 1 %}
            Only one attempt allowed!
        {% elif quiz.num_attempts > 1 %}
            Allowed {{quiz.num_attempts}} attempts taken. 
            {% if owner == True or quiz.num_attempts == None or quiz|num_completed_attempts:user < quiz.num_attempts %}
            This will be your {{quiz|next_attempt_num:user}} attempt!
            {% endif %}
        {% else %}
            This assessment has unlimited attempts.
        {% endif %}
    </div>

    {% if owner == True or quiz.closed == False %}
    {% if owner == True or quiz.num_attempts == None or quiz|num_completed_attempts:user < quiz.num_attempts %}
        <a class="btn btn-primary mt-4 mr-3 ml-3 mb-3" href="{% url 'course:take_quiz' pk=quiz.pk %}">
            {% if quiz|is_resume:user == True %} Resume {% else %} Begin {% endif %}
        </a>
    {% endif %}

    {% if owner == True %}
        <a class="btn btn-primary mt-4 mr-3 ml-3 mb-3" href="{% url 'course:view_quiz_content' pk=quiz.pk %}">
            View Quiz
        </a>
    {% endif %}
    {% endif %}

    {% with num_completed=quiz|num_completed_attempts:user %}
        <div class="ml-3 mt-4"> 
            {% for n in 1|custom_range:num_completed %}
                <div class="mt-3 h5">
                    <a href="{% url 'course:view_attempt' pk=quiz.pk num=n %}"> 
                        Attempt {{n}}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endwith %}
</div>

{% endblock %}