{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="section">
    <h5>{{quiz.cater}}</h5>
   <h6>{{ quiz.title }}</h6>
   <div class="divider"></div>

    <div class="row">
        <div class="col s4">
            <h5>Due:</h5>
            <p>{{ quiz.due_date }}</p>
        </div>
        <div class="col s4">
            {% if quiz.num_attempts %}
                <h5>Allowed Attempts:</h5>
                <p>{{ quiz.num_attempts }}</p>
            {% else %}
                <h5>Unlimited Attempts</h5>
            {% endif %}
        </div>
        <div class="col s4">
            {% if quiz.time_limit %}
                <h5>Time limit:</h5>
                <p>{{ quiz.time_limit }}</p>
            {% else %}
                <h5>Unlimited Time</h5>
            {% endif %}
        </div>
    </div>
    
    <div class="col s12">
        {{ quiz.description | safe }}  
    </div>
    <div class="divider"></div>

    <form method="post" action="{% url 'course:take_quiz' pk=quiz.pk %}" role="form" class="col s12">
        {% csrf_token %}
        {% if not view_mode %}
            <div class="col-auto text-right float-right ml-auto">
                <button type="submit" class="btn waves-effect waves-light mt-3" name="method" value="return">
                    Return
                </button>
            </div>
        {% endif %}

        <br> <br>
        <div class="col s12">          
            {% for question in questions %}
            <div class="col s12">
                <br>
                <p>Question {{ question.num }}:</p>

                {% if view_mode == True %}
                <div class="col-auto text-right float-right ml-auto">
                    <a href="{% url 'course:question_view' pk=question.pk %}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                    <a href="#" data-toggle="modal" data-target="#formModal-{{question.pk}}" class="btn btn-primary"><i class="fas fa-trash"></i></a>
                </div>


                
                <div class="modal fade" id="formModal-{{question.pk}}" tabindex="-1" role="dialog" aria-labelledby="formModalLabel-{{question.pk}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModalLabel-{{question.pk}}">
                                    <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{user.avatar}}" alt="User Image"></a>
                                    <strong> {{user.get_name}}</strong> , Are you sure to delete this question?
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            
                            <form method="post" action="{% url 'course:delete_qux_global' pk=question.pk %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="col-12 col-sm-12">
                                        {% if question.is_1st_version == True and question.versions.count > 0 %}
                                            <p> This is the original version! 
                                                If you remove it, all the versions will be removed as well!
                                            </p> 
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary ml-3">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                {% endif %}
                <p> {{ question.content | safe}} </p>
                <input type="hidden" name="question" value="{{ question.id }}">
            </div>

            {% if question.cater == 'Typing Answer' %}
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <textarea class="form-control" name="text_ans_{{question.id}}" rows="10" cols="80"></textarea>
                    </div>
                </div>
            {% else %}

                {% if question.cater == 'One Choice' %}
                
                    {% if view_mode == True %}
                        {% for answer in question.answers.all %}
                        <div class="input col s12">
                            <label>
                                <input name="answer_{{question.id}}" type="radio" value="{{ answer.id }}" />
                                <span>{{ answer.content | safe }}</span>
                        
                                <span class="ml-3 text-muted"> {% if answer.is_correct == True %} Correct
                                    {% else %} Incorrect {% endif %}
                                </span>
                            </label>          
                        </div>
                        {% endfor %}
                    
                    {% else %}
                        {% for answer, ans_index in question.shuffle_answers %}
                        <div class="input col s12">
                            <label>
                                <input name="answer_{{question.id}}" type="radio" value="{{ answer.id }}" />
                                <span>{{ answer.content | safe }}</span>

                                <input type="hidden" name="ansIndex_{{question.id}}" value="{{ans_index}}">
                            </label>          
                        </div>
                        {% endfor %}

                    {% endif %}

                {% else %}
                    {% if view_mode == True %}
                        {% for answer in question.answers.all %}
                        <div class="input col s12">
                            <label>
                                <input name="answer_{{question.id}}" type="checkbox" value="{{ answer.id }}" />
                                <span>{{ answer.content | safe }}</span>
                        
                                <span class="ml-3 text-muted"> {% if answer.is_correct == True %} Correct
                                    {% else %} Incorrect {% endif %}
                                </span>
                            </label>          
                        </div>
                        {% endfor %}
                    
                    {% else %}
                        {% for answer, ans_index in question.shuffle_answers %}
                        <div class="input col s12">
                            <label>
                                <input name="answer_{{question.id}}" type="checkbox" value="{{ answer.id }}" />
                                <span>{{ answer.content | safe }}</span>

                                <input type="hidden" name="ansIndex_{{question.id}}" value="{{ans_index}}">
                            </label>          
                        </div>
                        {% endfor %}

                    {% endif %}
                {% endif %}
            
            {% endif %}


            <br><br>
            {% endfor %}

            
            {% if view_mode == True %}
                <div class="col s12">
                    <a href="{% url 'course:quiz_detail' pk=quiz.pk %}" class="btn waves-effect waves-light">
                    Back
                    </a>

                    <a href="{% url 'course:init_question' pk=quiz.pk %}" class="btn waves-effect waves-light ml-3">
                        Add Question
                    </a>
                </div>
            {% else %}
                <div class="col s12">
                    <button type="submit" class="btn waves-effect waves-light" name="method" value="submit">
                    Submit
                    </button>
                </div>
            {% endif %}
        </div>

    </form>
    
    
</div>


<br><br><br>
{% endblock %}