{% extends 'index.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}

<div class="section">
    <div class="col-12">
        <h5 class="form-title"><span class="h2">Submission Detail</span></h5>

        {% if user.user_type != 3|to_str %}
        <div class="table-responsive">
            <table class="table table-hover table-center mb-0 datatable">
                <tbody>
                    <tr>
                        <td>ID: {{submission.user.student.student_id}}</td>
                        <td>
                            <h2 class="table-avatar">
                                <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{submission.user.avatar}}" alt="User Image"></a>
                                <a href="#">{{submission.user.get_name}}</a>
                            </h2>
                        </td>
                        <td>Email: {{submission.user.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
            <form method="post" class="form-inline">
                {% csrf_token %}
                <div class="form-group row">
                    <label>Grade: </label>
                    {{form.point}}
                    <button type="submit" class="btn btn-primary mr-3">Grade</button>
                </div>
            </form>
        </div>
        {% else %}
        {% if num == assignment|user_num_submx:user and submission.is_graded == True %}
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
            <form method="post" class="form-inline">
                {% csrf_token %}
                <div class="form-group row">
                    <label>Grade: </label>
                    <input type="text" readonly value="{{submission.grade.point}} pts">
                </div>
            </form>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <h5>{{ assignment.title }}</h5>
    
   <div class="divider"></div>
</div>
<div class="row">
   <div class="col s12">
      {{ assignment.description | safe }}

        <div class="col s12 mt-2 text-muted">
            <span class="mr-5"> 
                <strong>Due </strong>{{assignment.due_date.date}} at {{assignment.due_date.time}} 
            </span>
            {% if user.user_type == 3|to_str %}
            <p>
                {% if assignment.num_attempts == 1 %}
                    Only one attempt allowed!
                {% elif assignment.num_attempts > 1 %}
                    Allowed {{assignment.num_attempts}} attempts taken. 
                    This submission is your 
                    <span class="text-success">
                        {{num|convert_2order}}
                    </span>
                    attempt!
                {% else %}
                    This assessment has unlimited attempts.
                    This submission is your 
                    <span class="text-success">
                        {{num|convert_2order}}
                    </span>
                    attempt!
                {% endif %}
            </p>
            {% endif %}
        </div>
   </div>

   
   <div class="col s12">
      <ul class="collection with-header">
         <li class="collection-header">
            <h4>Files</h4>
         </li>
         {% for file in submission.files.all %}
         <li class="collection-item">
            <div>{{ file.get_file_name }}<a class="secondary-content" href="{{ file.file.url }}" download>
               <i class="material-icons">download</i></a>
            </div>
         </li>
         {% endfor %}   
      </ul>

      {% if user.user_type == 3|to_str and assignment.closed == False %}
        {% if assignment.num_attempts == None or assignment|user_num_submx:user < assignment.num_attempts %} 
        <a href="{% url 'course:submit_assignment' pk=assignment.pk %}" class="btn btn-primary mt-4 mr-3 ml-3 mb-3">
            Re-submit
        </a>
        {% endif %} 
      {% endif %} 
   </div>
</div>


<form method="post">
    {% csrf_token %} 

    {% for comment in submission.comments.all %}
    <div class="card mt-2 col-6">
        <div class="card-header">
            <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{comment.user.avatar}}" alt="User Image"></a> 
            <strong> {{comment.user.get_name}} </strong> 
        </div>
        
        <div class="card-body d-flex flex-row justify-content-between">
            <div> <p> {{comment.comment}} </p> </div>
        </div>
        
        <div class="card-footer text-muted"> Posted on: {{comment.posted_date|timesince}} </div>
    </div>
    {% endfor %} 

    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label>Add Comment: </label>
            <textarea class="form-control" rows="1" cols="30" name="comment" placeholder="Comment"></textarea>
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary mr-3">Post</button>

        <a href="{% url 'course:assignment' pk=assignment.pk %}" class="btn btn-primary">Back</a>
    </div>
</form>

<br><br><br><br><br><br>

{% endblock %}