{% extends 'index.html' %}

{% block content %} 
<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post">
                {% csrf_token %}
                <div class="col-12">
                    <h5 class="form-title"><span>Leaving Request</span></h5>
                </div>
                               
                {% if courses %}
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Request on course(s) - Choose multiple options by 'alt' key</label>
                            <select multiple class="form-control" name="courses">
                                {% for c in courses %}
                                    {% if c in pending_courses %}
                                        <option value="{{c.id}}" disabled>
                                            {{c}} (Pending)
                                        </option>
                                    {% else %}
                                        <option value="{{c.id}}">{{c}}</option>
                                    {% endif %}
                                {% endfor %}
                                <option value="all">Send All</option>
                            </select>
                        </div>
                    </div>
                {% endif %}
                
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" name="message" rows="9"></textarea>
                    </div>
                </div>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}