{% extends 'index.html' %}

{% block content %} 

<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
                <h3 class="page-title">
                {{cater}}
                </h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app:index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{cater}}</li>
                </ul>
          </div>
       </div>
    </div>
    
    
    <div class="email-content">
      <div class="table-responsive">
         <table class="table table-inbox table-hover">
            <tbody>
              {% for a in notice_assoc %}
               {% if a.notice %}
                  {% include 'includes/_notice.html' %}
               {% elif a.leave_request %}
                  {% include 'includes/_leave.html' %}
               {% elif a.feedback %}
                  {% include 'includes/_feedback.html' %}
               {% elif a.reply %}
                  {% include 'includes/_reply.html' %}
               {% endif %}
              {% endfor %}
            </tbody>
         </table>
      </div>
   </div>

 </div>


{% endblock %}