

<div class="card mt-2">
    <div class="card-header">
        <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{post.sender.avatar}}" alt="User Image"></a> 
        <strong> {{post.sender.get_name}} </strong> 
    </div>
    {% with p=post.notice_assoc.pk %}
    <div class="card-body d-flex flex-row justify-content-between">
        <div> <p> {{post.comment}} </p> </div>
        
        
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#formModal-{{p}}">
            Reply
        </button>
        
        <div class="modal fade" id="formModal-{{p}}" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModalLabel">
                            <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{user.avatar}}" alt="User Image"></a>
                            <strong> {{user.get_name}} </strong> 
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="{% url 'app:reply' %}"> 
                        {% csrf_token %}
                        <div class="modal-body">
                            
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Comment:</label>
                                    <textarea class="form-control" id="message-text" rows="10" cols="30" required name="comment"></textarea>
                                </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="pk" value="{{p}}">Send</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        
        
    </div>
    {% endwith %}
    <div class="card-footer text-muted"> Posted on: {{post.notice_assoc.sent_ago}} </div>
</div>

{% for post in post.replies.all %}
    {% include 'includes/_post.html' %}
{% endfor %}