<tr class="unread clickable-row">
    
    <td class="name">
        <h2 class="table-avatar">
            <a href="{% url 'app:inbox' pk=a.pk %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{a.reply.sender.avatar}}" alt="User Image"></a>
            <a href="{% url 'app:inbox' pk=a.pk %}">
                {{a.reply.sender}}
            </a>
         </h2>
    </td>

    <td class="subject"></td>
    <td class="subject"><a href="{% url 'app:inbox' pk=a.pk %}"><i class="fas fa-reply mr-1"></i>Reply</a></td>
    <td class="mail-date text-muted">{{a.sent_ago}}</td>
    <td class="text-muted text-right">
        {% if a.read %}
            <a href="{% url 'app:inbox' pk=a.pk %}" class="btn btn-sm bg-success-light mr-2">
                <i class="fas fa-envelope-open"></i>
            </a>
            <span class="mr-3">Read</span>
        {% else %}
            <a href="{% url 'app:inbox' pk=a.pk %}" class="btn btn-sm bg-success-light mr-2">
                <i class="fas fa-envelope"></i>
            </a>
            Unread 
        {% endif %}
    </td>
 </tr>