<div class="row">
    <div class="col-sm-12">
       <div class="card card-table">
          <div class="card-body">
             <div class="table-responsive">
                <table class="table table-hover table-center mb-0 datatable">
                   <thead>
                      <tr>
                        {% if request.user.user_type == '1' %}
                           <th>ID</th>
                         {% endif %}

                         <th>Name</th>
                         <th>Email</th>
                         <th>Gender</th>

                         {% if request.user.user_type == '1' %}
                           <th>Course(s)</th>
                           <th class="text-right">Action</th>
                         {% endif %}
                      </tr>
                   </thead>
                   <tbody>
                     {% for s in students %}
                      <tr>
                        {% if request.user.user_type == '1' %}
                           <td>{{s.student_id}}</td>
                         {% endif %}

                         <td>
                            <h2 class="table-avatar">
                               <a href="{% url 'teacher:update_student' pk=s.pk %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{s.user.avatar}}" alt="User Image"></a>
                               <a href="{% url 'teacher:update_student' pk=s.pk %}">{{s.user.first_name}} {{s.user.last_name}}</a>
                            </h2>
                         </td>
                         <td>{{s.user.email}}</td>
                         <td>{{s.gender}}</td>

                         {% if request.user.user_type == '1' %}
                         <td><a href="{% url 'teacher:coursesOfStud' pk=s.pk %}">View Course List</a></td>
                         <td class="text-right">
                            <div class="actions">
                               <a href="{% url 'teacher:update_student' pk=s.pk %}" class="btn btn-sm bg-success-light mr-2">
                               <i class="fas fa-pen"></i>
                               </a>
                               {% if not title %}
                                 <a href="{% url 'teacher:delete_student' pk=s.pk %}" class="btn btn-sm bg-danger-light">
                                 <i class="fas fa-trash"></i>
                                 </a>
                               {% endif %}
                            </div>
                         </td>
                         {% endif %}
                         
                      </tr>
                      {% endfor %}
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>
 </div>